Muslimov Arthur, Last Checkpoint: 03/22/2020 </br>
                 Last Checkpoint: 15/10/2021

На самом примитивном уровне объекты Pandas можно считать    <br/>
расширенными версиями структурированных массивов NumPy,     <br/>
где строки и столбцы - это метки, а не числовые индексы.    <br/>
Pandas поставляет ещё и кучу полезных утилит, методов и     <br/>
функциональности в дополнение к базовым структурам данных,  <br/>
но для их использования нужно, как минимум, знать эти       <br/>
фундаментальные структуры данных.

Позвольте познакомить вас с ними: **Series**, **DataFrame** и **Index**.

Ну и начнём наш сеанс с приглашения библиотек NumPy и Pandas:

In [1]:
import numpy as np
import pandas as pd

%xmode Minimal
%autosave 0

Exception reporting mode: Minimal

Autosave disabled

## Объект Series библиотеки Pandas

Объект Series библиотеки Pandas - одномерныый массив индекированных  <br/>
данных. Его можно создать из списка или массива.

In [2]:
data = pd.Series([0.5, 12., 7.2])  # да, 12. == 12.0
data

0     0.5
1    12.0
2     7.2
dtype: float64

Как мы видим, Series служит адаптером как для последовательности       <br/>
значений, так и для индексов. К ним можно получить доступ посредством  <br/>
атрибутов `values` и `index`. Атрибут `values` - знакомый нам массив.

In [3]:
data.values  # выдаёт NumPy-объект ndarray

array([ 0.5, 12. ,  7.2])

Атрибут `index` - это уже массивоподобный объект типа pd.Index, о котором позже.

In [4]:
data.index

RangeIndex(start=0, stop=3, step=1)

Но к значениям можно обращаться и старым способом.

In [5]:
data[0]

0.5

In [6]:
data[1:]  # в душе он всё тот же массив NumPy

1    12.0
2     7.2
dtype: float64

> Однако объект Series библиотеки Pandas намного универсальнее и гибче,  <br/>
> чем эмулируемый им одномерный массив библиотеки NumPy.

### Объект Series как обобщённый массив NumPy

Основное отличие объекта Series от одномерного массива NumPy - это    <br/>
то, что он пользуется ***явно описанными*** индексами, а массив       <br/>
NumPy получает доступ посредством ***неявно описанных*** индексов.

In [7]:
arr = np.array([4, 1, 5, 9])
arr[2]  # использует целое число как индекс, и с этим ничего поделать нельзя

5

In [8]:
data = pd.Series([4, 1, 5, 9], 
               index=['a', 'b', 'c', 'd'])
data['c']  # теперь можно использовать алфавит в качестве индексов,
        # т.е. мы описали их явно при инициализации.

5

При этом индексы могут быть произвольного типа и никак не связаны.

In [9]:
data = pd.Series([4, 1, 5, 9],
               index=[0, '1', 'two', [3]])  # число, символ, строка, список
print(data)
data.index

0      4
1      1
two    5
[3]    9
dtype: int64

Index([0, '1', 'two', [3]], dtype='object')

### Объект Series как специализированный словарь

Да, Series и вправду напоминает словарь из Python. Главное их отличие    <br/>
в том, что словарь связывает произвольные ключи с произвольными          <br/>
значениями, а Series типизированные ключи с типизированными значениями.  <br/>
Типизация важна. Если массивы NumPy - это эффективные аналоги спискам    <br/>
Python, то объект Series - эффективный аналог словаря.

Можно сделать аналогию "Series - словарь" ещё более наглядной,  <br/>
создав объект Series непосредственно из словаря.

In [10]:
population_dict = {'California': 38332521,
                'Texas': 26448193,
                'New York': 19651127,
                'Florida': 19552860,
                'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Индексами для Series здесь служат ключи словаря.       <br/>
Т.е. теперь мы можем пользоваться им как со словарём.

> Автор говорит, что прежде, чем ключи становятся индексами, они  <br/>
> сортируются. Но, как мы видим, этого не произошло.

In [11]:
population['California']  # как со словарём

38332521

Однако, Series поддерживают и некоторые характерные для  <br/>
массивов операции, такие как срезы:

In [16]:
population['California':'New York']  # как тыбе срез словаря?

California    38332521
Texas         26448193
New York      19651127
dtype: int64

Об некоторых нюансах индексации и срезов в Pandas мы поговорим позже.

### Создание объектов Series

Ты уже видел несколько способов создания объектов Series с нуля.      <br/>
Все они представляют собой различные варианты следующего синтаксиса:
```
>>> pd.Series(data, index=index)
```
где `index` - это необязательный аргумет, а `data` может быть одной из множеста сющностей.

Например, аргумент data может быть списком, кортежем или массивом. В таком  <br/>
случае, `index` по умолчанию будет целочисленной последовательностью.

In [17]:
pd.Series([2, 4, 6])  # data здесь - это список

0    2
1    4
2    6
dtype: int64

`data` может быть даже скалярным значением, которое повторяется для каждого индекса.

In [18]:
pd.Series(5, index=[100, 200, 300])  # data здесь - целое число

100    5
200    5
300    5
dtype: int64

Аргументом `data` также может стать словарь, в котором index  <br/>
включает в себя ключи этого словаря.

In [19]:
pd.Series({1: 'beta',
         0: 'alpha',
         3: 'gamma'})

1     beta
0    alpha
3    gamma
dtype: object

Ты всегда можешь указать индекс вручную.

In [20]:
pd.Series({1: 'beta',
         0: 'alpha',
         3: 'gamma'}, index=[0, 3])

0    alpha
3    gamma
dtype: object

Как ты видишь, в Series попадают только заданные явным образом ключи.

## Объект DataFrame библиотеки Pandas

Следующая на очереди базовая структура - объект DataFrame. Как  <br/>
и объект Series, его можно рассматривать или как расширенный    <br/>
массив NumPy, или как специализированную версию словаря.

### DataFrame как обобщённый массив NumPy

В то время, как Series - это аналог одномерного массива с гибкими     <br/>
индексами строк, DataFrame можно считать аналогом двумерного массива  <br/>
с гибкими индексами строк и гибкими именами столбцов. В качестве      <br/>
столбцов DataFrame использует объект Series.

Для демонстрации, мы создадим ещё один объект Series, хранящий <br/>
данные о площадях штатов. После мы уже поместим всю нашу       <br/>
информацию в единый DataFrame объект.

In [21]:
area_dict = {'California': 423967,
           'Texas': 695662,
           'New York': 141297,
           'Florida': 170312,
           'Illinois': 149995}
area = pd.Series(area_dict)

states = pd.DataFrame({'population': population,
                     'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Как мы видим, всё выводится аккуртано, в форме таблицы.

Как и Series, объект DataFrame имеет атрибут `index`.

In [22]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Помимо этого, у объектов DataFrame есть ещё и атрибут `columns`,  <br/>
предоставляющий метки столбцов в объекте Index.

In [23]:
states.columns

Index(['population', 'area'], dtype='object')

В общем, объект DataFrame - это двумерный  <br/>
массив NumPy с гибкой настройкой индексов.

### Объект DataFrame как специализированный словарь

DataFrame, также как и Series, можно расматривать как    <br/>
специализированный словарь, но ключи у него - это имена  <br/>
столбцов, а значения - это объекты Series.

In [24]:
states['area']  # 'area' - это имя столбца

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Тут стоит предупредить, что, в отличии от двумерного массива,  <br/>
объекты DataFrame на вход принимают только имена столбцов.

In [25]:
try:
    states['California']
except KeyError:           # Наше исключение
    print("End of the world!")

End of the world!

Мы получаем исключение. Но можно делать так:

In [26]:
print("California:", states['population']['California'], states['area']['California'])

California: 38332521 423967

Выходит, что мы сначала получаем Series объект из записи     <br/>
`states['area]`, а затем из него уже получаем наше значение  <br/>
по индексу `'California'`. *Моя догдака.*

### Создание объектов DataFrame

Существует множество способов создания объектов DataFrame.  <br/>
Вот несколько образцов.

**Из одного объекта Pandas.** Объект DataFrame - это набор объектов Series. DataFrame,  <br/>
состоящий из одного столбца, можно создать из одного объекта Series.

In [27]:
pd.DataFrame(population, columns=['population'])  # имена столбцов тоже можно задать явно

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

*Замечено мною позже*:

Если создавать DataFrame из одного Series, индексы Series будут индексами DataFrame,  <br/>
а если Series несколько, то индексы Series станут столбцами DataFrame.                <br/>
****хмм.., неверно

**Из списка словарей.** Любой список словарей можно превратить в объект  <br/>
DataFrame. Я воспользуюсь списковым включением для создания данных.

In [28]:
pd.DataFrame([{'a': i, 'b': 2 * i} for i in range(1, 4)])

   a  b
0  1  2
1  2  4
2  3  6

Даже если некоторые ключи в словаре отсутсвуют, Pandas  <br/>
просто заполнит их значениями NaN (т.е. Not a Number).

In [29]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'a': 5}])

     a    b    c
0  1.0  2.0  NaN
1  NaN  3.0  4.0
2  5.0  NaN  NaN

Как мы видим, можно представлять, что DataFrame строится из словарей послойно.

**Из словаря объектов Series.** DataFrame можно также  <br/>
очень легко построить из словаря объектов Series.

In [30]:
pd.DataFrame({'population': population,
              'area': area})  # Выходит, что данные с одинаковыми индексами становятся соседями

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

**Из двумерного массива NumPy.** Если у тебя в распоряжении есть двумерный массив,  <br/>
то ты можешь создать DataFrame с любыми именами столбцов и индексов. Пропупущенные  <br/>
значения здесь, если такие есть, замещаются целочисленными индексами.

In [31]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.820023  0.383933
b  0.439199  0.354531
c  0.188956  0.567595

**Из структурированного массива NumPy.** Ну тут тоже всё ясно.       <br/>
Как мы помним, DataFrame во многом ведёт себя как структурированный  <br/>
массив NumPy, поэтому без проблем создаётся из него.

In [33]:
arr = np.empty(2, dtype=[('name', 'U10'), ('score', 'u8')])
arr[0] = 'Musya', 5  # Мои
arr[1] = 'Tosya', 8  # питомцы :3

pd.DataFrame(arr)

    name  score
0  Musya      5
1  Tosya      8

## Объект Index библиотеки Pandas

Как ты видел, Index входит в стостав предыдущих структур.            <br/>
Index можно рассматривать или как ***неизменяемый массив*** (immutable array),  <br/>
или как ***упорядоченное множество*** (ordered set)(хотя, формально             <br/>
мультимножество, т.к. Index может содержать повторяющиеся значения).        <br/>
Из этих форм представления следуют интересные возможности объектов Index.

В качестве подопытного создадим Index из списка целых чисел.

In [35]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Объект Index как неизменяемый массив

Index во многом ведёт себя как обычный массив NumPy:

In [36]:
ind[3]

7

In [37]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

Даже есть общие атрибуты.

In [38]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

Одно из различий между NumPy ndarray и Pandas Index - это неизменяемость,  <br/>
т.е. их нельзя модифицировать привычными способами.

In [43]:
try:
    ind[0] = 0
except TypeError:             # Наше исключение
    print("End of the world!")

End of the world!

Эта особенность делает объекты Index более безопасными, исключая возможные ошибки.

### Index как упорядоченное множество

Index спроектирован с прицелом на упрощением таких операций,     <br/>
как соединение наборов данных, зависящих от многих аспектов      <br/>
арифметики множеств. Index следует многим соглашениям, принятых  <br/>
в стандартных множествах Python, т.е. объектах set, так что     <br/>
многие стандартные операции можно делать привычными образом.

In [44]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [45]:
indA & indB  # пересечение (intersection)

<ipython-input-45-9a740456aae1>:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB  # пересечение (intersection)

Int64Index([3, 5, 7], dtype='int64')

****эти операторы устаревают. warning просит переходить на <br/>
****соответсвующие метод (index.intersection(other))

In [48]:
indA | indB  # объединение (union)

<ipython-input-48-b7afae31bb75>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  indA | indB  # объединение (union)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

****| заменяется index.union(other)

In [49]:
indA ^ indB  # симметричная разность (symmetric difference)(другими словами, исключающее или)

<ipython-input-49-eae9425b847b>:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  indA ^ indB  # симметричная разность (symmetric difference)(другими словами, исключающее или)

Int64Index([1, 2, 9, 11], dtype='int64')

****^ заменяется index.symmetric_difference(other)

Эти операции можно делать и методами объектов. Например:

In [43]:
indA.intersection(indB)  # indA & indB

Int64Index([3, 5, 7], dtype='int64')